$max-grid-width: 10;
$max-grid-height: 10;


@function generate-board-areas($width, $height)
{
	$area:'';

	@for $y from 0 through $height - 1
	{
		$area: $area+'"';

		@for $x from 0 through $width - 1
		{
			$area: $area+'pos-'+$x+'-'+$y+' ';
		}

		$area: $area+'" ';
	}

	@return #{$area};
}

.board
{
	position: relative;

	width: 500px;
	height: 500px;

	display: grid;

	border: 2px solid red;

	@for $x from 1 through $max-grid-width
	{
		@for $y from 1 through $max-grid-height
		{
			&.size-#{$x}-#{$y} { grid-template-areas: generate-board-areas($x, $y); }
		}
	}

	.field
	{
		display:flex;
		justify-content:center;
		align-items:center;

		font-size: 2em;
		border: 1px solid black;

		cursor: pointer;

		& > .value { position: absolute; }
		&:not(.displayed) > .value { display: none; }
		& > .value.mine { padding:20px; background:red;}

		&.default { background: gray; }
		&.marked { background: green; }
		&.unknown { background: blue; }

		@for $x from 0 through $max-grid-width
		{
			@for $y from 0 through $max-grid-height
			{
				&.pos-#{$x}-#{$y} { grid-area: pos-#{$x}-#{$y}; }
			}
		}
	}
}

